<style>
  /* === cosy-inspired typography === */
  body {
    font-family: Calibri, -apple-system, BlinkMacSystemFont, "PingFang SC", "Microsoft YaHei", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.625;  /* 26/16 */
  }
  .page__content p {
    margin-bottom: 1em;
  }
  code, pre, kbd, samp {
    font-family: "SF Mono", Monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }

  /* 侧边栏分类导航 hover 效果 */
  .nav__list .nav__items :hover {
    background-color: #0092ca;
    color: #f0f0f0;
    border-radius: 4px;
  }

  /* 去掉分类导航文字下方的线 */
  .nav__sub-title {
    border-bottom: none !important;
  }

</style>
